*.faceName: Terminus:size=16
XTerm*selectToClipboard: true
XTerm*vt100.scrollBar: false
XTerm*scrollTtyOutput: false
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm.scrollBar:false

! Zenburn color-scheme
*.background              :#1c1c1c
*.foreground              :#bcbcbc

! black + red
!URxvt.color0                 :#3f3f3f
*.color0                  :#1c1c1c
*.color1                  :#d75f5f

! green + yellow
*.color2                  :#87af87
*.color3                  :#afaf87

! blue + purple
*.color4                  :#5f8787
*.color5                  :#af87af

! cyan + white
*.color6                  :#5f8787
*.color7                  :#9e9e9e

! bright-black + bright-red
*.color8                  :#767676
*.color9                  :#d7875f

! bright-green + bright-yellow
*.color10                 :#afd787
*.color11                 :#d7d787

! bright-blue + bright-purple
*.color12                 :#87afd7
*.color13                 :#d7afd7

! bright-cyan + bright-white
*.color14                 :#87afaf
*.color15                 :#bcbcbc

