*.faceName: Hack:pixelsize=18:antialias=true
URxvt.font: xft:Hack:pixelsize=18:antialias=true
XTerm.selectToClipboard: true
URxvt.scrollBar:  false
XTerm.highlightSelection: true
XTerm.trimSelection: true
!XTerm.vt100.translations:
!  Meta <KeyPress> V: insert-selection(CLIPBOARD, PRIMARY, CUT_BUFFER0)  
URxvt.cursorBlink: true
URxvt.keysym.M-v: eval:paste_clipboard
URxvt.depth: 32

URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select URxvt.keysym.M-u:      
URxvt.keysym.M-u: perl:url-select:select_next 
URxvt.url-select.launcher: /usr/bin/xdg-open 
URxvt.url-select.underline: true
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k

URxvt.background: [80]#000000
*.foreground:grey
*.background: black
