[Desktop Entry]
Name=Crusader Kings III
Comment=Play this game on Steam
Exec=steam steam://rungameid/1158310
Icon=steam_icon_1158310
Terminal=false
Type=Application
Categories=Game;
